.techcard{
    background: var(--ostech-black);
    min-height: 100vh;
    width: 100%;
    padding: 30px;
    color: var(--ostech-white);

}
.flexsv{
    display: flex;
justify-content: flex-start;
    align-items: center;
    gap: 8px;

}
.cards1{
    background: var(--ostech-base-gradient);
    width: 100%;
    min-height: 45vh;
    padding: 20px;
    color: var(--ostech-white);
    border:1px solid var(--ostech-white);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.titlenum{
color: var(--ostech-text);
font-size: 30px ;
font-weight: 900;
line-height: 42px;
}
.titles{
color: var(--ostech-text);
font-size: 22px ;
font-weight: 800;
line-height: 32px;
}
.des{
color: var(--ostech-text);
font-size: 18px ;
font-weight: 400;
line-height: 32px;
}