.sectionForm{
  background: var(--ostech-black);
  color: var(--ostech-white);
  min-height: 80vh;
  width: 100%;
  display: flex;
  padding: 60px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
}
.ri{
  color: var(--ostech-white);
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}
.ritle{
font-size: 30px;
font-weight: 900;
color: var(--ostech-base);
line-height: 40px;
  

}
.ritlev2{
font-size: 18px;
font-weight: 400;
color: var(--ostech-white);
line-height: 30px;

}
.ritlev3{
font-size: 28px;
font-weight: 700;
color: var(--ostech-white);
line-height: 34px;

}
.form-card{
  /*background: var(--ostech-gradient);
  */background: rgba(255, 255, 255, 0.04);
  /*lesscolor*/backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 26px;
  border: 1px solid var(--ostech-white);
  padding: 45px 35px;
  height: 100%;
  width: 100%;
  color: var(--ostech-white);
  padding: 25px;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}