/* .sessd{
    background: var(--base-black);
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sdf{
    position: relative;
}

.sdsdd{
    background: var(--ostech-base);
    width: 80px;
    height: 50vh;
    padding-inline: 20px;
    padding-block: 20px;
    color: var(--base-white);

}
.sdsdds{
    background: var(--ostech-base-gradient);
    width: 80px;
    height: 50vh;
    padding-inline: 20px;
    padding-block: 20px;
    color: var(--base-white);
}
.sdf{
    width: 100%;
    min-height: 200px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    
} */