
.serviceDe-two{
background: var(--base-black);
color:var(--base-white);
min-height:80vh ;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
padding: 60px;
position: relative;
}
.detail{
    position: relative;
    height: 80vh;
    width: 100%;
}
.detailImage{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
object-fit: cover;

}
.sdf{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    height: 80vh;
    width: 100%;
}
.title{
    font-size: 30px;
    font-weight: 800;
    color: var(--base-white);
    line-height: 40px;
    
}
.description{
    font-size: 16px;
    color: var(--base-gray);
    line-height: 30px;
    font-weight: 400;

}