.project-cards-container {
          position: relative;
          height: 550px;
          margin: 0 auto;
          overflow: visible;
             background: var(--ostech-black);
               box-shadow: 0 0 0 0 rgba(255, 170, 23, 0);
          
               color: var(--ostech-white);
        }
        .cards{
               background: var(--ostech-black-soft);
               box-shadow: 0 0 0 0 rgba(255, 170, 23, 0);
              
               color: var(--ostech-white);
               overflow: hidden;
}

        .project-card {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 500px;
               will-change: transform, opacity;
               background: var(--ostech-black-soft);
               box-shadow:    10px 10px 30px rgba(0, 0, 0, 0.45);
               border-radius:25px ;
               -webkit-border-radius:25px ;
               -moz-border-radius:25px ;
               -ms-border-radius:25px ;
               -o-border-radius:25px ;
               /*border: 1px solid var(--ostech-black-soft);
               */color: var(--ostech-white);
               overflow: hidden;
}
        
        .project-card .card {
          /* border-radius: 20px !important; */
          height: 100%;
          transition: all 0.3s ease;
          background: var(--ostech-black-soft);

        }
        
        .arrow-up, .arrow-down {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: var(--ostech-white);
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
        }
        .project-card > .card > .row {
  margin: 0 !important;
  height: 100%;
}

        
        .arrow-up::after {
          content: '↑';
          font-size: 20px;
          color: #333;
        }
        
        .arrow-down::after {
          content: '↓';
          font-size: 20px;
          color: #333;
        }
        
        @media (max-width: 768px) {
          .project-cards-container {
            height: 600px;
          }
          
          .project-card {
            height: 450px;
          }
        }


        